img {
	height: 300px;
}
#intro {
	display: inline-block;
	width: 700px;
	vertical-align: top;
}
#sidebar {
	display: inline-block;
	width: 200px;
	background-color: #cccccc;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}